body {
  background-color: #f5d9d5;
  font-family: "Nunito", sans-serif;
}
#mainNavbar .navbar-brand {
  color: #ea121c;
}
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}
#mainNavbar .nav-link {
  color: white;
  transition: 0.1s;
}

#mainNavbar .nav-link:hover {
  color: #ea121c;
}
#headingGroup span {
  color: #ea121c;
}
#headingGroup h2 {
  font-size: 4rem;
  font-weight: 100;
}
@media (max-width: 1200px) {
  #headingGroup h2 {
    font-size: 3.5rem;
  }
}
.secondSection h2 {
  font-weight: 100;
  color: #ea121c;
  font-size: 2.5rem;
}
.secondSection {
  font-size: 1.125rem;
  font-weight: 100;
  color: #f498b8;
  line-height: 2;
}
section {
  margin-bottom: 100px;
}
.scrolled {
  background: rgb(222, 192, 222);
  transition: 0.5s;
}
a {
  text-decoration: none;
}
footer a {
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 1.25rem;
  font-weight: 100;
  transitiom: 1s;
  
}
footer a span {
  color: #f498b8;
}
footer a:hover {
  text-decoration: none;
 color:  #ea121c;
  
}
footer .copyright {
  font-weight: 100;
  font-family: "Nunito", sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
}
footer {
  margin: 0 2%;
  padding: 10px;
}
.copyright p {
  margin: 0;
  
}